<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Aviva 5 Star private health insurance</title>
 
    </head>
    <body style="padding:0;margin:0;" bgcolor="#FFFFFF">


<table width="650" height="130" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
	  <td>
	  <img src="https://extranet.thisissecure.net/aviva/emails/healthcare/images/header.jpg" width="650" height="130" alt="Aviva: 5 Star private health insurance" style="display:block;border:none"></td>
  </tr>
    </table>
    
    <table width="650" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="21">&nbsp;</td>
    <td width="629">
    	<table width="629" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><table width="629" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="438"><table width="438" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="35">&nbsp;</td>
          </tr>
          <tr>
            <td><table width="438" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="438" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="10">&nbsp;</td>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size: 16px; color: #000000; text-align:left; line-height: 20px;">When it comes to choosing a great healthcare policy, it's as much about quality as it is about price. With Aviva's private health insurance you get:  </td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td height="21">&nbsp;</td>
  </tr>
  <tr>
    <td><table width="438" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="21">&nbsp;</td>
        <td><table width="352" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="352" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="15" valign="top"><img src="https://extranet.thisissecure.net/aviva/emails/healthcare/images/bullet.jpg" alt="bulletpoint" width="15" height="18" style="display:block;border:none;"/></td>
    <td><table width="337" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="10">&nbsp;</td>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size: 16px; color: #000000; text-align:left; line-height: 20px;">An unrivalled no claim discount of up to 66&#37; in year one&#42;</td>
  </tr>
</table>
</td>
  </tr>
</table>
</td>
          </tr>
          <tr>
            <td height="21">&nbsp;</td>
          </tr>
          <tr>
            <td><table width="352" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="15" valign="top"><img src="https://extranet.thisissecure.net/aviva/emails/healthcare/images/bullet.jpg" alt="bulletpoint" width="15" height="18" style="display:block;border:none;"/></td>
                <td><table width="337" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10">&nbsp;</td>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size: 16px; color: #000000; text-align:left; line-height: 20px;">Dedicated cancer support from the first phone call right through to aftercare</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="21">&nbsp;</td>
          </tr>
          <tr>
            <td><table width="352" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="15"><img src="https://extranet.thisissecure.net/aviva/emails/healthcare/images/bullet.jpg" alt="bulletpoint" width="15" height="18" style="display:block;border:none;"/></td>
                <td><table width="337" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10">&nbsp;</td>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size: 16px; color: #000000; text-align:left; line-height: 20px;">24 hour GP helpline access for all the family</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="21">&nbsp;</td>
          </tr>
          <tr>
            <td><table width="352" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="15"><img src="https://extranet.thisissecure.net/aviva/emails/healthcare/images/bullet.jpg" alt="bulletpoint" width="15" height="18" style="display:block;border:none;"/></td>
                <td><table width="337" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10">&nbsp;</td>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size: 16px; color: #000000; text-align:left; line-height: 20px;">Access to the latest drugs and treatments</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="21">&nbsp;</td>
          </tr>
          <tr>
            <td><table width="352" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="15" valign="top"><img src="https://extranet.thisissecure.net/aviva/emails/healthcare/images/bullet.jpg" alt="bulletpoint" width="15" height="18" style="display:block;border:none;"/></td>
                <td><table width="337" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10">&nbsp;</td>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size: 16px; color: #000000; text-align:left; line-height: 20px;">Defaqto's 5 Star rating - independent expert reassurance about the quality of our cover</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="65">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="21">&nbsp;</td>
  </tr>
</table>
</td>
          </tr>
          <tr>
            <td><a href="http://www.aviva.co.uk/private-health-insurance/?source=BALGPP&entry=131575&cmp=knl-pmi-gmail-ltm" target="_blank"><img src="https://extranet.thisissecure.net/aviva/emails/healthcare/images/cta.jpg" alt="Get a quote today" width="286" height="60" style="display:block;border:none;"/></a></td>
          </tr>
        </table></td>
        <td><table width="191" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="74">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><img src="https://extranet.thisissecure.net/aviva/emails/healthcare/images/heart.jpg" alt="Heart" width="153" height="139" style="display:block;border:none;"/></td>
  </tr>
  <tr>
    <td height="74">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><img src="https://extranet.thisissecure.net/aviva/emails/healthcare/images/defaqto.jpg" alt="Defaqto 2014" width="153" height="59" style="display:block;border:none;"/></td>
  </tr>
  <tr>
    <td height="33">&nbsp;</td>
  </tr>
</table>
</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="629" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="22">&nbsp;</td>
  </tr>
  <tr>
    <td><table width="629" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="10">&nbsp;</td>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-align:left; line-height: 16px;">*Currently, 75&#37; of new customers qualify for a no claim discount of 66&#37; on their Healthier Solutions private health care policy, in the first year.</td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td height="40">&nbsp;</td>
  </tr>
</table>
</td>
  </tr>
</table>

    
    </td>
  </tr>
</table>




</body>
</html>